.hero {
  height: 40.5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
}

.hero-content {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}

.join-now-btn {
  font-weight: 600;
  width: 9rem;
  border-radius: 0.2rem;
  border: 0;
  font-size: 1.5rem;
  

}

.hero-img-div {
  margin-top: 3rem;
  margin-left: 6rem;
}
.hero-img {
  border-radius: 50% 80%;
}

.unis-imgs {
  width: 94.9rem;
  /* border-top: 0.12rem solid #0d6efd; */
}

/* -------------------------------------- */

.meet-our-students {
  height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 3rem 2rem;
  font-size: 1.3rem;

}

.meet-our-students > p {
  text-align: center;
  width: 70%;
}

.meet-our-students > h1 {
  /* border-bottom: 0.25rem solid #0d6efd; */
}

.about-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;
}

.student-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 3rem 2rem;
  width: 25rem;
  /* background-color: white; */
  border-radius: 5%;
  /* border: 0.001rem rgb(182, 179, 179) solid; */
}

.bio-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 0.25rem solid #0d6efd;
}

.bio-img {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
}

/* ------------------------------------------ */

.our-story {
  /* height: 30rem; */
  padding: 3rem 2rem;
  display: grid;
  gap: 3rem;
  font-size: 1.3rem;

}

.all-unis {
  border-radius: 10%;
}

.our-story-content {
  /* padding: 50px 32px;  */
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* background-color: white; */
  padding: 3rem 2rem;
}

#achivment {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  height: 100%;
  margin: auto;
}

#achivment img {
  height: 22rem;
  width: 100%;
}
