.lecture-title {
  display: flex;
  justify-content: space-between;
}

.display-check-none {
  display: none;
}


.course-dashboard{
  display: flex;
}

.lecture-tabs{
  margin-top: 2rem;
}

.tabs-of-each-lecture{
  width: 25rem;
}